<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Full name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Address</th>
      <th scope="col">Email address</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tr *ngFor="let customer of customers">
    <td>{{customer.fullName}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.emailAddress}}</td>
    <td>
        <button (click)="onModify(customer)" class="btn btn-warning btn-option"><img src="assets/icons/pencil.svg"> </button>
        <button (click)="onDelete(customer)" class="btn btn-danger btn-option"><img src="assets/icons/trash.svg"></button>
    </td>
  </tr>
  <tbody></tbody>
</table>
