<ng-template [ngIf]="loading">
  <app-loading></app-loading>
</ng-template>
<ng-template [ngIf]="product">
  <h2 *ngIf="action === 'edit'">{{product.fullName}} Details</h2>
  <h2 *ngIf="action === 'create'">Add new product</h2>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" [(ngModel)]="product.name" required>
  </div>

  <div class="form-group">
    <label for="Price">Price</label>
    <input type="text" class="form-control" id="Price" [(ngModel)]="product.price" required>
  </div>
  
  <div class="form-group">
      <label for="PriceCurrency">PriceCurrency</label>
      <input type="text" class="form-control" id="PriceCurrency" [(ngModel)]="product.priceCurrency" required>
    </div>
  
  <div class="form-group">
      <label for="Unit">Unit</label>
      <input type="text" class="form-control" id="Unit" [(ngModel)]="product.unit" required>
    </div>
  

  <div class="form-group">
    <label for="StockNumber">Stock</label>
    <input type="text" class="form-control" id="StockNumber" [(ngModel)]="product.stockNumber" required>
  </div>


  <button type="submit" *ngIf="action === 'edit'" class="btn btn-success" (click)="onUpdate()">Save Changes</button>
  <button type="submit" *ngIf="action === 'create'" class="btn btn-success" (click)="onCreate()">Save Changes</button>
</ng-template>
