<ng-template [ngIf]="loading">
  <app-loading></app-loading>
</ng-template>
<ng-template [ngIf]="order">
  <h2 *ngIf="action === 'edit'">Order {{order.id}} Details</h2>
  <h2 *ngIf="action === 'create'">Add new order</h2>
  <div class="form-group">
    <label for="Id">Id</label>
    <input type="text" class="form-control" id="Id" [(ngModel)]="order.id" required>
  </div>

  <div class="form-group">
    <label for="Customer">Customer</label>
    <input type="text" class="form-control" id="Customer" [(ngModel)]="order.customerId" required>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <div *ngFor="let orderItem of order.orderItems">
      <app-order-item [orderItem]="orderItem" (deleteOrderRequested)="deleteOrder($event)"></app-order-item>
    </div>
    <tbody></tbody>
  </table>
  
  <button type="submit" *ngIf="action === 'edit'" class="btn btn-success" (click)="onUpdate()">Save Changes</button>
  <button type="submit" *ngIf="action === 'create'" class="btn btn-success" (click)="onCreate()">Save Changes</button>
</ng-template>
