<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tr *ngFor="let orderItem of orderItemList" >
    <td>
      <select #selectedProduct class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" (ngModelChange)="onChange()" [(ngModel)]="orderItem.productId">
        <option *ngFor="let product of products" value="{{product.id}}" [attr.selected]="orderItem.productId == product.id ? true : null" >
          {{product.name}}
        </option>
      </select>
    </td>
    <td>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormQuantity" placeholder="Quantity" (ngModelChange)="onChange()" (ngModelChange)="onChange()"
        [(ngModel)]="orderItem.quantity">
    </td>
    <td>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormUnit" placeholder="Unit" (ngModelChange)="onChange()" [(ngModel)]="orderItem.unit">
    </td>
    <td>
      {{ getTotalPrice(orderItem.productId,orderItem.quantity) }}
    </td>
  </tr>
</table>
